.norm {
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(83, 157, 72);
  font-family: Arial, Helvetica, sans-serif;
}

header.norm {
  padding: 0;
  width: 100%;
}

/* Dynamic classes */
.no-display {
  display: none;
}
