.log-wrapper {
  display: block;
  margin: 20vh auto 0;
  width: 50rem;
  padding: 5rem;
  border: solid rgb(83, 157, 72) 1px;
}

.log {
  display: grid;
  grid-auto-flow: column;
}

.log article {
  display: block;
  color: aqua;
}

input {
  grid-column-start: 2;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  align-items: center;
  justify-items: center;
  grid-gap: 5px;
}

label {
  grid-column-start: 2;
 }
