<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../JAVASCRIPT/makeTamplates.js"></script>
    <script>
      LoadCustomTemplates("./PATTERNS/doc_wrapper.html");
    </script>
    <title>Power.Log Create an Account</title>
  </head>
  <body>
    <doc-wrapper>
      <article slot="content" class="login-form-wrapper">
        <form class="login-from">
          <section>
            <label for="#user-name">User Name</label>
            <input type="text" id="user-name" required />
          </section>
          <section>
            <label for="#user-password">Password</label>
            <input type="password" id="user-password" required />
          </section>
          <article href="">
            <input type="submit" value="sign up" />
          </article>
        </form>
      </article>
    </doc-wrapper>
  </body>
</html>
